﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add Jobs</title>
</head>
<body>
    <div>
      <li>@Html.ActionLink("Upload a Job file asynchronously with NServiceBus", "Index", "SendAsync")</li>
    </div>
</body>
</html>
