﻿@using (Html.BeginForm("FileUpload", "SendAsync", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>@ViewBag.Title</p>
    <p>
        Upload a CSV file with jobs to run (there is a test file in TranscodeServiceBus/testdata/jobs.csv). Must follow pattern: <br />
        JobId;JobName;JopDependencies<br />
        999; Upload; 100,200
    </p>
    <br/>
  
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" value="Go" />

    @ViewBag.ResponseText

    <br/><br/><br/><br/>
    @Html.ActionLink("Home", "SendLinks", "Home")
}
